<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Following - Assistant Blog Site</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    {% include 'fragments/header.html' %}
<!-- 
    
    <section class="following-feed">
        <h2>Blogs from Users You Follow</h2>
        
        {% for blog in followed_blogs %}
        <div class="blog-card">
            <div class="blog-header">
                <h3><a href="{% url 'profile' %}" class="no-style-link">{{ blog.blog_title }}</a></h3>
                <p>by {{ blog.user_id.first_name }} {{ blog.user_id.last_name }} on {{ blog.date }}</p>
            </div>
            <div class="blog-content">
                <p>{{ blog.text|truncatechars:200|linebreaksbr }}</p>
                <a href="{% url 'show_blog' blog_id=blog.blog_id %}" class="no-style-link">Read more</a>
            </div>
            <div class="blog-actions">
                <button>Like</button>
                <button>Comment</button>
                <button>Share</button>
            </div>
        </div>
        {% empty %}
        <p>You are not following any users yet. Start following users to see their blogs!</p>
        {% endfor %}
    </section> -->
    <h1>This page is underdevelopment. Sorry for inconvenience</h1>

    {% include 'fragments/footer.html' %}
    
    <script src="{% static 'jscript.js' %}"></script>
</body>
</html>
