<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoginPage</title> 
    {% load static %}
    <link rel="stylesheet"  href="{% static 'style.css' %}">
</head>
<body>
    <div class="login-container">
        <form class="login-form">
            <h2>Login</h2>
            <div class="form-group">  
                <label>Email :</label>
                <input type="email" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label>Password :</label>
                <input  type="password"  id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
            <div class="form-remain">
                <div>
                    <p class="Forgot-message"><a href="#">Forgot Password!</a></p>
                </div>
                <div>
                    <p class="message">Not registered? <a href="#">Create Account</a></p>
                </div>
            </div>
        </form>
    </div>
</body>
</html>