body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: white;
    padding: 30px;
    background: rgb(241, 239, 233);
    border-radius: 5px;
    box-shadow: 0  0 10px rgb(35, 34, 34);
}

.login-form {
    display: flex;
    flex-direction: column;

}
.form-group{
    margin-bottom: 15px;

}
label {
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
    padding:10 px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%
}